In [ ]:
import pandas as pd

In [ ]:
# Load the DataFrame from the pickle file
df = pd.read_pickle("/content/drive/MyDrive/CSE 280/WattBuyData1999_2024.pkl")

In [ ]:
df.columns

Index(['utility_id', 'utility_name', 'utility_rate_type', 'created_at',
       'utility_rate_from_value', 'utility_rate_to_value',
       'utility_rate_amount', 'supplier_name', 'state', 'rate_unit',
       'contact_number', 'is_variable', 'rate_type_plan', 'is_green',
       'description', 'term', 'website_url', 'green_details',
       'green_percentage', 'start_date', 'service_type', 'term_end_date',
       'plan_end_date', 'sq_ft_2600', 'sq_ft_800', 'plan_type',
       'plan_rate_min_value', 'plan_rate_max_value', 'plan_rate_from_value',
       'plan_rate_to_value', 'plan_rate_amount', 'benefit_type',
       'benefits_value', 'monthly_charge_min_value',
       'monthly_charge_max_value', 'monthly_charge_from_value',
       'monthly_charge_to_value', 'monthly_charge_amount',
       'usage_credit_min_value', 'usage_credit_max_value',
       'early_term_fees_min_value', 'early_term_fees_max_value',
       'early_term_fee_type', 'early_term_fee_term'],
      dtype='object')

In [ ]:
# add territory id
df['TerritoryId'] = ""

In [ ]:
# add territory name
df['TerritoryName'] = ""

In [ ]:
# add refCategoryId
df["refCategoryId"] = ""

In [ ]:
# rename rate_unit to measurement text
df.rename(columns={'rate_unit': 'MeasurementText'}, inplace=True)

In [ ]:
# add refRateCodeId
df["refRateCodeId"]=""

In [ ]:
# add refRateCode
df.rename(columns={"plan_type":"refRateCode"},inplace=True)

In [ ]:
# add the refRateCode column
df.rename(columns={"rate_type_plan":"refRateType"},inplace=True)

In [ ]:
# add the Price column column
df.rename(columns={"plan_rate_amount":"Price ($)"},inplace=True)

In [ ]:
# add the offer details column
df.rename(columns={"description":"OfferDetails"},inplace=True)

In [ ]:
# add the contract term details column
df.rename(columns={"term":"ContractTerms (months)"},inplace=True)

In [ ]:
### we need to discuss how to resolve early_term_fee column

In [ ]:
df[df["early_term_fees_min_value"].notna()]

,utility_id,utility_name,utility_rate_type,created_at,utility_rate_from_value,utility_rate_to_value,utility_rate_amount,supplier_name,state,MeasurementText,...,usage_credit_min_value,usage_credit_max_value,early_term_fees_min_value,early_term_fees_max_value,early_term_fee_type,early_term_fee_term,TerritoryId,TerritoryName,refCategoryId,refRateCodeId
342,1,Allegheny Power,default rate,2010-12-09,NaN,NaN,7.130,Palmco Power PA,pa,kWh,...,0.0,NaN,0.0,NaN,NaN,NaN,,,,
354,1,Allegheny Power,default rate,2011-02-08,NaN,NaN,7.130,FirstEnergy,pa,kWh,...,0.0,NaN,7500.0,NaN,NaN,NaN,,,,
355,1,Allegheny Power,default rate,2011-02-08,NaN,NaN,7.130,FirstEnergy,pa,kWh,...,0.0,NaN,10000.0,NaN,NaN,NaN,,,,
356,1,Allegheny Power,default rate,2011-02-08,NaN,NaN,7.130,FirstEnergy,pa,kWh,...,0.0,NaN,15000.0,NaN,NaN,NaN,,,,
357,1,Allegheny Power,default rate,2011-02-08,NaN,NaN,7.130,Palmco Power PA,pa,kWh,...,0.0,NaN,0.0,NaN,NaN,NaN,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19987,9,West Penn Power,default rate,2020-04-06,NaN,NaN,6.059,Star Energy,pa,kWh,...,0.0,NaN,9500.0,NaN,straight,NaN,,,,
19988,9,West Penn Power,default rate,2020-04-06,NaN,NaN,6.059,Star Energy,pa,kWh,...,0.0,NaN,5000.0,NaN,straight,NaN,,,,
19989,9,West Penn Power,default rate,2020-04-06,NaN,NaN,6.059,Star Energy,pa,kWh,...,0.0,NaN,12500.0,NaN,straight,NaN,,,,
19990,9,West Penn Power,default rate,2020-04-06,NaN,NaN,6.059,Tomorrow Energy,pa,kWh,...,0.0,NaN,7500.0,NaN,straight,NaN,,,,
19993,9,West Penn Power,default rate,2020-04-06,NaN,NaN,6.059,Town Square Energy,pa,kWh,...,0.0,NaN,5000.0,NaN,straight,NaN,,,,

In [ ]:
df[df["early_term_fees_max_value"].notna()]

,utility_id,utility_name,utility_rate_type,created_at,utility_rate_from_value,utility_rate_to_value,utility_rate_amount,supplier_name,state,MeasurementText,...,usage_credit_min_value,usage_credit_max_value,early_term_fees_min_value,early_term_fees_max_value,early_term_fee_type,early_term_fee_term,TerritoryId,TerritoryName,refCategoryId,refRateCodeId
4158,2,Duquesne Light,default rate,2014-04-09,NaN,NaN,6.590,YEP Energy,pa,kWh,...,0.0,NaN,1000.0,15000.0,max,NaN,,,,
4159,2,Duquesne Light,default rate,2014-04-09,NaN,NaN,6.590,YEP Energy,pa,kWh,...,0.0,NaN,1000.0,15000.0,max,NaN,,,,
4160,2,Duquesne Light,default rate,2014-04-09,NaN,NaN,6.590,YEP Energy,pa,kWh,...,0.0,NaN,1000.0,15000.0,max,NaN,,,,
4161,2,Duquesne Light,default rate,2014-04-09,NaN,NaN,6.590,YEP Energy,pa,kWh,...,0.0,NaN,1000.0,15000.0,max,NaN,,,,
4162,2,Duquesne Light,default rate,2014-04-09,NaN,NaN,6.590,YEP Energy,pa,kWh,...,0.0,NaN,1000.0,15000.0,max,NaN,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17611,4,PECO Energy,default rate,2019-12-01,NaN,NaN,6.737,Discount Power,pa,kWh,...,0.0,NaN,1000.0,5000.0,max,NaN,,,,
17628,4,PECO Energy,default rate,2019-12-01,NaN,NaN,6.737,Discount Power,pa,kWh,...,0.0,NaN,1000.0,10000.0,max,NaN,,,,
17638,4,PECO Energy,default rate,2019-12-01,NaN,NaN,6.737,Discount Power,pa,kWh,...,0.0,NaN,1000.0,5000.0,max,NaN,,,,
17640,4,PECO Energy,default rate,2019-12-01,NaN,NaN,6.737,Discount Power,pa,kWh,...,0.0,NaN,1000.0,10000.0,max,NaN,,,,
17666,4,PECO Energy,default rate,2019-12-01,NaN,NaN,6.737,Discount Power,pa,kWh,...,0.0,NaN,1000.0,10000.0,max,NaN,,,,

In [ ]:
df["EarlyTerminationFee($)"] = ""

In [ ]:
# add earl termination fee details
df["EarlyTerminationDetails"] = ""

In [ ]:
# add percentage of renewable energy to the column (manually fix this)
df["green_details"]

0                   NaN
1          1% renewable
2         50% renewable
3         50% renewable
4        100% renewable
              ...
19991               NaN
19992               NaN
19993               NaN
19994               NaN
19995               NaN
Name: green_details, Length: 19996, dtype: object

In [ ]:
df["RenewableFee"] = ""

In [ ]:
# add the month charge colum
df.rename(columns={"monthly_charge_amount":"MonthlyFee($)"},inplace=True)

In [ ]:
# add the prepaid column
df["IsPrePaid"] = ""

In [ ]:
# add the prepaid column
df["IsDepositRequired"] = ""

In [ ]:
# add the promotional offer column
df["IsPromotionalOffer"] = ""

In [ ]:
# add the promotional offer details
df["PromotionalOfferDetails"] = ""

In [ ]:
df["IsIntroductoryPrice"] = ""

In [ ]:
df["IntroductoryPriceDetails"] = ""

In [ ]:
df["IntroductoryPriceTermLength"] = ""

In [ ]:
df.rename(columns={"supplier_name":"SupplierCompanyName"},inplace=True)

In [ ]:
df.rename(columns={"website_url":"SupplierWebSiteUrl"},inplace=True)

In [ ]:
df.rename(columns={"contact_number":"SupplierPhone"},inplace=True)

In [ ]:
df["SupplierAddress"] = ""

In [ ]:
df["SupplierCity"] = ""

In [ ]:
df["SupplierStateId"] = ""

In [ ]:
df["SupplierZipCode"] = ""

In [ ]:
df.rename(columns={"created_at":"PublishDate"},inplace=True)

In [ ]:
df.rename(columns={"state":"StateName"},inplace=True)

In [ ]:
required_columns = [
    "TerritoryId",
    "TerritoryName",
    "refCategoryId",
    "MeasurementText",
    "refRateCodeId",
    "refRateCode",
    "refRateType",
    "Price ($)",
    "OfferDetails",
    "ContractTerms (months)",
    "EarlyTerminationFee($)",
    "EarlyTerminationDetails",
    "RenewableFee",
    "MonthlyFee($)",
    "IsPrePaid",
    "IsDepositRequired",
    "IsPromotionalOffer",
    "PromotionalOfferDetails",
    "IsIntroductoryPrice",
    "IntroductoryPriceDetails",
    "IntroductoryPriceTermLength",
    "SupplierCompanyName",
    "SupplierWebSiteUrl",
    "SupplierPhone",
    "SupplierAddress",
    "SupplierCity",
    "SupplierStateId",
    "SupplierZipCode",
    "PublishDate",
    "StateName"
    ]

In [ ]:
df = df[required_columns].copy()

In [ ]:
df['refRateType'] = df['refRateType'].apply(lambda x: x.title() if pd.notna(x) and x != '' else x)
df['Price ($)'] = df['Price ($)'].apply(lambda x: x / 100 if pd.notna(x) else x)
df['StateName'] = df['StateName'].apply(lambda x: x.upper() if pd.notna(x) and x != '' else x)

In [ ]:
df

,TerritoryId,TerritoryName,refCategoryId,MeasurementText,refRateCodeId,refRateCode,refRateType,Price ($),OfferDetails,ContractTerms (months),...,IntroductoryPriceTermLength,SupplierCompanyName,SupplierWebSiteUrl,SupplierPhone,SupplierAddress,SupplierCity,SupplierStateId,SupplierZipCode,PublishDate,StateName
0,,,,kWh,,Regular Residential Service,Variable,0.0440,NaN,1.0,...,,FirstEnergy,www.firstenergyservices.com,888-254-9227,,,,,1999-07-30,PA
1,,,,kWh,,Regular Residential Service,Variable,0.0404,NaN,1.0,...,,Green Mountain Energy,www.greenmountain.com,888-246-6730,,,,,1999-07-30,PA
2,,,,kWh,,Regular Residential Service,Variable,0.0506,NaN,1.0,...,,Green Mountain Energy,www.greenmountain.com,888-246-6730,,,,,1999-07-30,PA
3,,,,kWh,,Regular Residential Service,Variable,0.0423,NaN,1.0,...,,Green Mountain Energy,www.greenmountain.com,888-246-6730,,,,,1999-07-30,PA
4,,,,kWh,,Regular Residential Service,Variable,0.0570,NaN,1.0,...,,Green Mountain Energy,www.greenmountain.com,888-246-6730,,,,,1999-07-30,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19991,,,,kWh,,NaN,Fixed,0.0528,4 monthly bill cycles fixed At 5.28 cents/kWh ...,4.0,...,,Town Square Energy,NaN,NaN,,,,,2020-04-06,PA
19992,,,,kWh,,NaN,Fixed,0.0676,24 monthly bill cycles fixed at 6.76 cents/kWh...,24.0,...,,Town Square Energy,NaN,NaN,,,,,2020-04-06,PA
19993,,,,kWh,,NaN,Fixed,0.0687,36 monthly bill cycles fixed at 6.87 cents/kWh...,36.0,...,,Town Square Energy,NaN,NaN,,,,,2020-04-06,PA
19994,,,,NaN,,NaN,NaN,NaN,NaN,NaN,...,,NaN,NaN,NaN,,,,,2023-09-14,NaN
19995,,,,NaN,,NaN,NaN,NaN,NaN,NaN,...,,NaN,NaN,NaN,,,,,2023-12-07,NaN